.default-theme {
  --theme-bg: #14181E;
  --theme-bg-dark: rgb(15, 18, 21);
  --theme-bg-light: rgb(17, 22, 26);
  --theme-bg-lighter: rgb(32, 39, 47);

  --theme-item-bg-hover: rgb(54, 54, 57);
  --theme-item-bg-selected: rgb(46, 92, 138);

  --theme-grey: #8e8e8e;
  --theme-color: #fff;
  --theme-blue: #4b8dff;
  --theme-blue-dark: #447ad6;
  --theme-blue-darker: #2f67c7;
}
